// It's highly recommended to change the default colors
// to match your app's branding.

//$primary   : #162cb9
$primary      = rgb(101, 68, 211)
$secondary    = rgb(255, 123, 36)
$accent       = rgb(156, 39, 176)

$positive     = rgb(35, 169, 67)
$negative     = rgb(221, 50, 67)
$info         = rgb(15, 163, 185)
$warning      = rgb(255, 194, 1)

$shadow-color = rgb(123, 89, 240)

$typography-font-family  =  'Comfortaa', cursive

@import '~quasar/src/css/variables.styl'

